:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --dkClr: #181818;
    --piClr: #FFD4CE;
    --liClr: whitesmoke;
    --accClr: #0d0d35;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: url('path-to-background-image.jpg') no-repeat center center fixed; */
    background-size: cover;
}
  
body {
    background-color: var(--dkClr);
    color: var(--liClr);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.index-body {
    background: url('/assets/bk3.png') no-repeat center center fixed;
  }

button {
    background-color: #C0A9E2; /* Peach-like background color */
    color: white; /* White text color */
    border: 0.5px solid #FFD3D3; 
    padding: 10px 20px; /* Top/bottom padding of 10px, left/right padding of 20px */
    font-size: 16px; /* Font size of the text */
    border-radius: 5px; /* Rounded corners with a radius of 5px */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    transition: background-color 0.3s; /* Smooth transition for the background color when interacting with the button */
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the flex items horizontally */
    justify-content: flex-start; /* Align the flex items to the start of the container vertically */
    width: 100%;
    padding-top: 20px; /* Add padding at the top */
}
  
main {
    flex: 1;
    display: flex;
}
  
#gameCanvas {
    border: 1px solid rgba(217, 93, 174, 0.807);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1;
    height: 60%;
/*    aspect-ratio: 9/ 16; /* Portrait aspect ratio */
}
  /* Media query for devices with a width of up to 600px */
@media only screen and (max-width: 600px) {
    #gameCanvas {
      width: 90%; /* Full width on smaller screens for a more responsive design */
      height: auto; /* Height is auto to maintain the aspect ratio */
    }
}

.gameUI {
    position: absolute; /* Add this line */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/bk0.png'); /* Update this path */
    background-size: cover; /* This will cover the entire area */
    background-position: center; /* This centers the background image in t*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
  
.gameUI * {
    text-align: center;
    margin-top: 5px;
}
  
#gameStartDiv {
    display: flex;
}
  
#gameEndDiv {
    display: none;
}
  
#gameStartBtn{
    display: inline-block;
    width: 100px;
    padding:8px 15px;
    margin: 20px 0;
    text-align: center;
    font-family: inherit;
    border-radius: 10px;;
}
  
#gameStartBtn p{
    margin-top: 0;
}
  
#gameStartBtn:hover{
    background-color: #FF7DF6;
    border: 0.5px solid var(--liClr);
    color: var(--liClr);
    cursor:pointer;
} 


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 100
    px;
    height: calc(100% - 40px); /* Adjust based on your header/footer size */
}

.title {
    font-size: 3em;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.subtitle {
    color: white;
    margin-bottom: 2em;
}



.community {
    position: relative;
    width: calc(23% - 20px); /* Distribute three items evenly with some space for margin */
    margin: 20px;
    border-radius: 15px;
    overflow: hidden; /* Ensure the background does not bleed outside the border-radius */
}

.community::before {
    content: '';
    position: absolute;
    top: 10%; /* Move down to allow for the upward shift of the image */
    left: -7.5%; /* Extend to the left to increase the width */
    width: 115%; /* Increase the width of the background */
    height: 115%; /* Increase the height to maintain aspect ratio */
    background-image: url('/assets/back2.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.community img {
    position: relative;
    width: 90%; /* Make the image width smaller than the container width */
    z-index: 2; /* Ensure the image is above the pseudo-element */
    transform: translateY(-10%); /* Shift the image up */
    transform: translateX(5%);
    margin-top: 10%; /* Additional margin at the top */
}

.description {
    font-size: 0.9em; /* Smaller font size */
    color: white;
    z-index: 2;
    position: relative; /* Keep relative if you need to layer it above something else */
    padding: 20px; /* Add padding to the text */
    width: 80%; /* Limit the width of the text block */
    margin: 0 auto; /* Center the block horizontally */
    text-align: center; /* Center text within the block */
}

.learn-more {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff; /* Bootstrap primary blue */
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    z-index: 2;
    position: relative; /* Ensure the link is above the pseudo-element */
    margin: 10px 0; /* Space between the description and the button */
}

.learn-more:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

nav {
    text-align: center;
    /* padding: 10px 0; */
}

footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}